.skills{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: 0.3s linear;
}

.skills-div{
    padding-top: 50px;
    width:90%;
    margin-left:auto;
    margin-top: 80px;
    background:var(--secondary-color);
    border-radius: 15px;
    margin-right:auto;
    border: 1px solid rgb(221, 221, 221);
    margin-bottom: 200px;
}
