.topic-content{
    max-width:46%;
    min-width: 300px;
}
.topic-title{
    font-size:53px;
}
.topic-text{
    font-size:22px;
}

.link{
    border: 1px solid var(--primary-color);
    border-radius:40px;
    margin-top:40px;
    padding: 13px;
    padding-right: 20px;
    padding-left: 20px;
    font-size:15px;
    color:var(--primary-color);
    display:inline-block;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.link:hover{
    background: var(--primary-color);
    color: var(--secondary-color);
}

.light-theme{
    color:var(--secondary-color);
    max-width: 45%;
}
.main-title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    margin-top: 100px;
}
.main-title-title{
    font-size:70px;
    color:var(--primary-color);
}
.main-title-text{
    font-size:30px;
}
.about-me{
    margin-left: auto;
    margin-right: auto;
    color:var(--secondary-color);
    max-width: 60%;
    margin-top: 600px;
    text-align: center;
}.about-me-title{
    font-size: 50px;
    color:var(--secondary-color);
}

@media all and (max-width:700px){
    .topic-content{
        max-width: 100%;
        padding-bottom:50px;
    }   
}